<form class="mb" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-form-field fxFlex="100px"><input [(ngModel)]="canvasWidth" matInput name="canvasWidth" placeholder="Width">
    </mat-form-field>
    <mat-icon>clear</mat-icon>
    <mat-form-field fxFlex="100px"><input [(ngModel)]="canvasHeight" matInput name="canvasHeight" placeholder="Height">
    </mat-form-field>
    <mat-form-field fxFlex><input [(ngModel)]="imageSrc" matInput name="imageSrc" placeholder="Resource URL">
    </mat-form-field>
  </div>
  <mat-button-toggle-group #group="matButtonToggleGroup" (change)="imageSrc = $event.value" [value]="imageSrc">
    <mat-button-toggle *ngFor="let sample of samples; let i = index" [value]="sample.url"
                       color="accent">{{ sample.label }}</mat-button-toggle>
  </mat-button-toggle-group>
</form>

<ngx-imageviewer [height]="canvasHeight" [src]="imageSrc" [width]="canvasWidth"></ngx-imageviewer>
