<h2 class="mat-title">Test conditional display</h2>

<div class="mb" fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start " fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <button (click)="condition = !condition" color="accent" mat-raised-button>Toggle Visibility</button>
    <mat-slide-toggle [(ngModel)]="condition">{{ condition ? 'Visible' : 'Hidden'}}</mat-slide-toggle>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-form-field fxFlex><input [(ngModel)]="url" disabled matInput name="url" placeholder="Resource URL">
    </mat-form-field>
    <button (click)="toggleUrl()" color="accent" mat-raised-button>Toggle URL</button>
  </div>
</div>

<ngx-imageviewer *ngIf="condition" [src]="url"></ngx-imageviewer>

<div *ngIf="!condition" class="mat-headline" fxLayoutAlign="center center">Nothing here</div>
