<h2 class="mat-h2">Preview file from Upload field</h2>
<div class="mb">
  <label class="mat-button">Resource File: </label>
  <input #file (change)="docFile = $event.target.files[0]" accept="image/*,application/pdf" id="docFile" name="docFile"
         required type="file">
</div>

<ngx-imageviewer *ngIf="docFile" [src]="docFile" height="600" width="800"></ngx-imageviewer>

<p *ngIf="!docFile" class="mat-headline" fxLayoutAlign="center center">Select any of your local files to preview it
  here</p>
